@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-open {
  max-height: 300px; /* Adjust the maximum height as needed */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu-closed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}